<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movie Rental</title>

    <!-- Bootstrap core CSS -->
    <link href="https://s3-movie-rental.s3.amazonaws.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://s3-movie-rental.s3.amazonaws.com/dashboard.css" rel="stylesheet">
    <link href="https://s3-movie-rental.s3.amazonaws.com/dist/datatable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://s3-movie-rental.s3.amazonaws.com/dist/datatable/custom.dataTable.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="@Url.Action("Index", "MovieRental")">Movie Rental (@ViewBag.ServerNumber)</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search movies by title" id="globalSearch">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="javascript:void(0)" id="globalSearchButton">Search</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <main role="main" class="col-md-12 col-lg-12 pt-3 px-4">
                <div class="row">
                    <div class="col-12">
                        <a href="@Url.Action("New", "MovieRental")" class="btn btn-primary float-right">New Movie</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="example" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Stock</th>
                                <th>Sales Price</th>
                                <th>Rental Price</th>
                                <th>Popularity</th>
                                <th>Active</th>
                                <th>-</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Stock</th>
                                <th>Sales Price</th>
                                <th>Rental Price</th>
                                <th>Popularity</th>
                                <th>Active</th>
                                <th>-</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <br />
                <div class="alert alert-secondary" role="alert">
                    This is running on server: <b>@ViewBag.ServerName</b>
                </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://s3-movie-rental.s3.amazonaws.com/dist/jquery/jquery-3.3.1.js"></script>
    <script>window.jQuery || document.write('<script type="text/javascript" src="https://s3-movie-rental.s3.amazonaws.com/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script type="text/javascript" src="https://s3-movie-rental.s3.amazonaws.com/dist/datatable/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://s3-movie-rental.s3.amazonaws.com/assets/js/vendor/popper.min.js"></script>
    <script type="text/javascript" src="https://s3-movie-rental.s3.amazonaws.com/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://s3-movie-rental.s3.amazonaws.com/app/js/index.js"></script>
</body>
</html>
