MovieRental/.vs/MovieRental/config/applicationhost.config
MovieRental/.vs/MovieRental/v16/.suo
MovieRental/.vs/MovieRental/v16/Server/sqlite3/db.lock
MovieRental/.vs/MovieRental/v16/Server/sqlite3/storage.ide
MovieRental/.vs/MovieRental/v16/Server/sqlite3/storage.ide-shm
MovieRental/.vs/MovieRental/v16/Server/sqlite3/storage.ide-wal
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/appsettings.Development.json
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/appsettings.json
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental.deps.json
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental.exe
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental.pdb
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental.runtimeconfig.dev.json
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental.runtimeconfig.json
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
MovieRental/MovieRental/obj/MovieRental.csproj.nuget.cache
MovieRental/MovieRental/obj/MovieRental.csproj.nuget.dgspec.json
MovieRental/MovieRental/obj/MovieRental.csproj.nuget.g.props
MovieRental/MovieRental/obj/MovieRental.csproj.nuget.g.targets
MovieRental/MovieRental/obj/project.assets.json
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.AssemblyInfo.cs
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.AssemblyInfoInputs.cache
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.assets.cache
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.csproj.CopyComplete
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.csproj.FileListAbsolute.txt
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.csprojAssemblyReference.cache
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.dll
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.exe
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.MvcApplicationPartsAssemblyInfo.cache
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.MvcApplicationPartsAssemblyInfo.cs
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.pdb
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.RazorTargetAssemblyInfo.cache
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/staticwebassets/MovieRental.StaticWebAssets.Manifest.cache
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/staticwebassets/MovieRental.StaticWebAssets.xml
MovieRental/MovieRental_Infrastructure/obj/MovieRental_Infrastructure.csproj.nuget.g.targets
MovieRental/MovieRental_Infrastructure/obj/project.assets.json
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.AssemblyInfo.cs
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.AssemblyInfoInputs.cache
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.assets.cache
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.csproj.FileListAbsolute.txt
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.csprojAssemblyReference.cache
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.dll
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.pdb
MovieRental/MovieRental_DataAccess/obj/MovieRental_DataAccess.csproj.nuget.cache
MovieRental/MovieRental_DataAccess/obj/MovieRental_DataAccess.csproj.nuget.dgspec.json
MovieRental/MovieRental_DataAccess/obj/MovieRental_DataAccess.csproj.nuget.g.props
MovieRental/MovieRental_DataAccess/obj/MovieRental_DataAccess.csproj.nuget.g.targets
MovieRental/MovieRental_DataAccess/obj/project.assets.json
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.AssemblyInfo.cs
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.AssemblyInfoInputs.cache
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.assets.cache
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.csproj.CopyComplete
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.csproj.FileListAbsolute.txt
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.csprojAssemblyReference.cache
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.dll
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.pdb
MovieRental/MovieRental_Infrastructure/bin/Debug/netcoreapp3.1/MovieRental_Infrastructure.deps.json
MovieRental/MovieRental_Infrastructure/bin/Debug/netcoreapp3.1/MovieRental_Infrastructure.dll
MovieRental/MovieRental_Infrastructure/bin/Debug/netcoreapp3.1/MovieRental_Infrastructure.pdb
MovieRental/MovieRental_Infrastructure/obj/MovieRental_Infrastructure.csproj.nuget.cache
MovieRental/MovieRental_Infrastructure/obj/MovieRental_Infrastructure.csproj.nuget.dgspec.json
MovieRental/MovieRental_Infrastructure/obj/MovieRental_Infrastructure.csproj.nuget.g.props
MovieRental/MovieRental_Models/bin/Debug/netcoreapp3.1/MovieRental_Models.deps.json
MovieRental/MovieRental_Models/bin/Debug/netcoreapp3.1/MovieRental_Models.dll
MovieRental/MovieRental_Models/bin/Debug/netcoreapp3.1/MovieRental_Models.pdb
MovieRental/MovieRental_Models/obj/MovieRental_Models.csproj.nuget.cache
MovieRental/MovieRental_Models/obj/MovieRental_Models.csproj.nuget.dgspec.json
MovieRental/MovieRental_Models/obj/MovieRental_Models.csproj.nuget.g.props
MovieRental/MovieRental_Models/obj/MovieRental_Models.csproj.nuget.g.targets
MovieRental/MovieRental_Models/obj/project.assets.json
MovieRental/MovieRental_Models/obj/Debug/netcoreapp3.1/MovieRental_Models.AssemblyInfo.cs
MovieRental/MovieRental_Models/obj/Debug/netcoreapp3.1/MovieRental_Models.AssemblyInfoInputs.cache
MovieRental/MovieRental_Models/obj/Debug/netcoreapp3.1/MovieRental_Models.assets.cache
MovieRental/MovieRental_Models/obj/Debug/netcoreapp3.1/MovieRental_Models.csproj.FileListAbsolute.txt
MovieRental/MovieRental_Models/obj/Debug/netcoreapp3.1/MovieRental_Models.csprojAssemblyReference.cache
MovieRental/MovieRental_Models/obj/Debug/netcoreapp3.1/MovieRental_Models.dll
MovieRental/MovieRental_Models/obj/Debug/netcoreapp3.1/MovieRental_Models.pdb
MovieRental/MovieRental_Repository/obj/MovieRental_Repository.csproj.nuget.cache
MovieRental/MovieRental_Repository/obj/MovieRental_Repository.csproj.nuget.dgspec.json
MovieRental/MovieRental_Repository/obj/MovieRental_Repository.csproj.nuget.g.props
MovieRental/MovieRental_Repository/obj/MovieRental_Repository.csproj.nuget.g.targets
MovieRental/MovieRental_Repository/obj/project.assets.json
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.AssemblyInfo.cs
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.AssemblyInfoInputs.cache
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.assets.cache
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.csproj.FileListAbsolute.txt
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.csprojAssemblyReference.cache
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.dll
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.pdb
MovieRental/MovieRental_Repository/bin/Debug/netcoreapp3.1/MovieRental_Repository.deps.json
MovieRental/MovieRental_Repository/bin/Debug/netcoreapp3.1/MovieRental_Repository.dll
MovieRental/MovieRental_Repository/bin/Debug/netcoreapp3.1/MovieRental_Repository.pdb
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_DataAccess.deps.json
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_DataAccess.dll
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_DataAccess.pdb
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_DataAccess.runtimeconfig.dev.json
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_DataAccess.runtimeconfig.json
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_Models.dll
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_Models.pdb
