MovieRental/.vs/MovieRental/config/applicationhost.config
MovieRental/.vs/MovieRental/v16/.suo
MovieRental/.vs/MovieRental/v16/Server/sqlite3/db.lock
MovieRental/.vs/MovieRental/v16/Server/sqlite3/storage.ide
MovieRental/.vs/MovieRental/v16/Server/sqlite3/storage.ide-shm
MovieRental/.vs/MovieRental/v16/Server/sqlite3/storage.ide-wal
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/appsettings.Development.json
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/appsettings.json
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental.deps.json
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental.exe
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental.pdb
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental.runtimeconfig.dev.json
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental.runtimeconfig.json
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
MovieRental/MovieRental/obj/MovieRental.csproj.nuget.cache
MovieRental/MovieRental/obj/MovieRental.csproj.nuget.dgspec.json
MovieRental/MovieRental/obj/MovieRental.csproj.nuget.g.props
MovieRental/MovieRental/obj/MovieRental.csproj.nuget.g.targets
MovieRental/MovieRental/obj/project.assets.json
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.AssemblyInfo.cs
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.AssemblyInfoInputs.cache
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.assets.cache
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.csproj.CopyComplete
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.csproj.FileListAbsolute.txt
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.csprojAssemblyReference.cache
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.dll
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.exe
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.MvcApplicationPartsAssemblyInfo.cache
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.MvcApplicationPartsAssemblyInfo.cs
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.pdb
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/MovieRental.RazorTargetAssemblyInfo.cache
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/staticwebassets/MovieRental.StaticWebAssets.Manifest.cache
MovieRental/MovieRental/obj/Debug/netcoreapp3.1/staticwebassets/MovieRental.StaticWebAssets.xml
MovieRental/MovieRental_Infrastructure/obj/MovieRental_Infrastructure.csproj.nuget.g.targets
MovieRental/MovieRental_Infrastructure/obj/project.assets.json
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.AssemblyInfo.cs
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.AssemblyInfoInputs.cache
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.assets.cache
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.csproj.FileListAbsolute.txt
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.csprojAssemblyReference.cache
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.dll
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.pdb
MovieRental/MovieRental_DataAccess/obj/MovieRental_DataAccess.csproj.nuget.cache
MovieRental/MovieRental_DataAccess/obj/MovieRental_DataAccess.csproj.nuget.dgspec.json
MovieRental/MovieRental_DataAccess/obj/MovieRental_DataAccess.csproj.nuget.g.props
MovieRental/MovieRental_DataAccess/obj/MovieRental_DataAccess.csproj.nuget.g.targets
MovieRental/MovieRental_DataAccess/obj/project.assets.json
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.AssemblyInfo.cs
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.AssemblyInfoInputs.cache
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.assets.cache
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.csproj.CopyComplete
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.csproj.FileListAbsolute.txt
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.csprojAssemblyReference.cache
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.dll
MovieRental/MovieRental_DataAccess/obj/Debug/netcoreapp3.1/MovieRental_DataAccess.pdb
MovieRental/MovieRental_Infrastructure/bin/Debug/netcoreapp3.1/MovieRental_Infrastructure.deps.json
MovieRental/MovieRental_Infrastructure/bin/Debug/netcoreapp3.1/MovieRental_Infrastructure.dll
MovieRental/MovieRental_Infrastructure/bin/Debug/netcoreapp3.1/MovieRental_Infrastructure.pdb
MovieRental/MovieRental_Infrastructure/obj/MovieRental_Infrastructure.csproj.nuget.cache
MovieRental/MovieRental_Infrastructure/obj/MovieRental_Infrastructure.csproj.nuget.dgspec.json
MovieRental/MovieRental_Infrastructure/obj/MovieRental_Infrastructure.csproj.nuget.g.props
MovieRental/MovieRental_Models/bin/Debug/netcoreapp3.1/MovieRental_Models.deps.json
MovieRental/MovieRental_Models/bin/Debug/netcoreapp3.1/MovieRental_Models.dll
MovieRental/MovieRental_Models/bin/Debug/netcoreapp3.1/MovieRental_Models.pdb
MovieRental/MovieRental_Models/obj/MovieRental_Models.csproj.nuget.cache
MovieRental/MovieRental_Models/obj/MovieRental_Models.csproj.nuget.dgspec.json
MovieRental/MovieRental_Models/obj/MovieRental_Models.csproj.nuget.g.props
MovieRental/MovieRental_Models/obj/MovieRental_Models.csproj.nuget.g.targets
MovieRental/MovieRental_Models/obj/project.assets.json
MovieRental/MovieRental_Models/obj/Debug/netcoreapp3.1/MovieRental_Models.AssemblyInfo.cs
MovieRental/MovieRental_Models/obj/Debug/netcoreapp3.1/MovieRental_Models.AssemblyInfoInputs.cache
MovieRental/MovieRental_Models/obj/Debug/netcoreapp3.1/MovieRental_Models.assets.cache
MovieRental/MovieRental_Models/obj/Debug/netcoreapp3.1/MovieRental_Models.csproj.FileListAbsolute.txt
MovieRental/MovieRental_Models/obj/Debug/netcoreapp3.1/MovieRental_Models.csprojAssemblyReference.cache
MovieRental/MovieRental_Models/obj/Debug/netcoreapp3.1/MovieRental_Models.dll
MovieRental/MovieRental_Models/obj/Debug/netcoreapp3.1/MovieRental_Models.pdb
MovieRental/MovieRental_Repository/obj/MovieRental_Repository.csproj.nuget.cache
MovieRental/MovieRental_Repository/obj/MovieRental_Repository.csproj.nuget.dgspec.json
MovieRental/MovieRental_Repository/obj/MovieRental_Repository.csproj.nuget.g.props
MovieRental/MovieRental_Repository/obj/MovieRental_Repository.csproj.nuget.g.targets
MovieRental/MovieRental_Repository/obj/project.assets.json
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.AssemblyInfo.cs
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.AssemblyInfoInputs.cache
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.assets.cache
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.csproj.FileListAbsolute.txt
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.csprojAssemblyReference.cache
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.dll
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.pdb
MovieRental/MovieRental_Repository/bin/Debug/netcoreapp3.1/MovieRental_Repository.deps.json
MovieRental/MovieRental_Repository/bin/Debug/netcoreapp3.1/MovieRental_Repository.dll
MovieRental/MovieRental_Repository/bin/Debug/netcoreapp3.1/MovieRental_Repository.pdb
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_DataAccess.deps.json
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_DataAccess.dll
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_DataAccess.pdb
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_DataAccess.runtimeconfig.dev.json
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_DataAccess.runtimeconfig.json
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_Models.dll
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_Models.pdb
MovieRental/MovieRental_Repository/obj/Debug/netcoreapp3.1/MovieRental_Repository.csproj.CopyComplete
MovieRental/MovieRental_Repository/bin/Debug/netcoreapp3.1/MovieRental_DataAccess.dll
MovieRental/MovieRental_Repository/bin/Debug/netcoreapp3.1/MovieRental_DataAccess.pdb
MovieRental/MovieRental_Repository/bin/Debug/netcoreapp3.1/MovieRental_Infrastructure.dll
MovieRental/MovieRental_Repository/bin/Debug/netcoreapp3.1/MovieRental_Infrastructure.pdb
MovieRental/MovieRental_Repository/bin/Debug/netcoreapp3.1/MovieRental_Models.dll
MovieRental/MovieRental_Repository/bin/Debug/netcoreapp3.1/MovieRental_Models.pdb
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_Infrastructure.dll
MovieRental/MovieRental_DataAccess/bin/Debug/netcoreapp3.1/MovieRental_Infrastructure.pdb
MovieRental/MovieRental_Infrastructure/bin/Debug/netcoreapp3.1/MovieRental_Models.dll
MovieRental/MovieRental_Infrastructure/bin/Debug/netcoreapp3.1/MovieRental_Models.pdb
MovieRental/MovieRental_Infrastructure/obj/Debug/netcoreapp3.1/MovieRental_Infrastructure.csproj.CopyComplete
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental_DataAccess.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental_DataAccess.pdb
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental_Infrastructure.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental_Infrastructure.pdb
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental_Models.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental_Models.pdb
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental_Repository.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/MovieRental_Repository.pdb
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
MovieRental/.vs/MovieRental/DesignTimeBuild/.dtbcache
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
MovieRental/MovieRental/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
