MovieRental/.vs/**
MovieRental/MovieRental/bin/**
MovieRental/MovieRental/obj/**
MovieRental/MovieRental_Infrastructure/bin/**
MovieRental/MovieRental_Infrastructure/obj/**
MovieRental/MovieRental_DataAccess/bin/**
MovieRental/MovieRental_DataAccess/obj/**
MovieRental/MovieRental_Infrastructure/bin/**
MovieRental/MovieRental_Infrastructure/obj/**
MovieRental/MovieRental_Models/bin/**
MovieRental/MovieRental_Models/obj/**
MovieRental/MovieRental_Repository/obj/**
MovieRental/MovieRental_Repository/bin/**
MovieRental/MovieRental_Test/obj/**
MovieRental/MovieRental_Test/bin/**
MovieRental/MovieRental_Notification/bin/**
MovieRental/MovieRental_Notification/obj/**
MovieRental/MovieRental_AWSSecretManager/obj/**
MovieRental/MovieRental_AWSSecretManager/bin/**
